:root {
    --orange: #E86F15;
    --orange-light: #EF9957;
    --black: #444444;
    --white: #FFFFFF;
    --white-dark: #dddddd;
    --violet: #bc96e6;
    --shadow: #e0e0e0;
    --grey: #777777;
    
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
}

p {
    word-break: break-all;
}

ul {
    list-style-type: none;
  }

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5em;
}

#homepage-logo {
    font-size: 7em;
}

.title {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.5em;
}

.subtitle {
    color: var(--orange);
    font-weight: bold;
    font-size: 1em;
}

.thoughts .title {
    margin-left: 3em;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--white);
    box-shadow: 0 0 1.5em var(--shadow);
    position: fixed;
  }

.textlogo {
    color: var(--orange);
    font-size: 2.5em;
    font-family: serif;
    text-decoration: none;

    display: flex;
    align-items: center;
    margin-left: .7em;
}

.navlinks {
    display: flex;
}

.navlinks a {
    margin: 0 1em 0 1em;
    padding-top: .5em; 
}

input[type=text], input[type=password], input[type=date], input[type=submit]{
    width: 100%;
    height: 2.5em;
    border: .25em solid var(--white-dark);
    border-radius: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type=submit] {
    border: none;
}

.formbox input[type=text], input[type=password], input[type=date], input[type=submit] {
    width: 20em;
}
.edit-profile input[type=text], input[type=password], input[type=date], input[type=submit] {
    width: 20em;
}

label,input{
    display:flex;
    flex-direction:column;
  }

#navsearch {
    width: 40em;
}

form {
    margin: 0;
    padding: 0;
}

.formbox {
    display:flex;
    flex-direction: column;
    margin: 2em;
}

.centerbox {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    align-content: center;
    align-items: center;
}

.button {
    background-color: var(--orange);
    color: var(--white);
    margin-top: 2em;
    font-size: 1em; 
    width: auto;
}

a.button {
    text-decoration: none;
    background-color: var(--orange);
    border-radius:5px;
    color:#fff;
    margin-right:10px;
    padding:10px 10px 10px 10px;
   }


.button:hover {
    background-color: var(--orange-light);
    transition: 0.2s;
    cursor: pointer;
    color:#fff;
}



a {
    color: var(--orange);
    text-decoration: underline;
}

a:hover {
    color: var(--orange-light);
    transition: 0.2s;
    cursor: pointer;
}

.box {
    width: 50em;
    margin: 2.5em;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1.5em var(--shadow);
    margin-left: auto;
    margin-right: auto;
}

.box img {
    border-radius: 1em;
    margin-bottom: 1em;
    max-height: 20em;
    object-fit: cover;
}

.story {
    display: flex;
    flex-direction: column;
}

.box-story {
    width: 60em;
    margin: 2.5em;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1.5em var(--shadow);
}

.post-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.post-author {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.italic {
    font-style: italic;
    color: var(--grey)   
}

.error {
    border-radius: 10px;
    background-color: #fcb0b0;
    padding: .5em;
}

.post-profile-picture {
    width: 3em;
    border-radius: 2em;
}

.post-title {
    font-weight: bold;
    font-size: 1.5em;
    word-break: break-all;
}

.reactions {
    display: flex;
    flex-direction: row-reverse;
}

.react {
    background-color: var(--white-dark);
    border-radius: 16%;
    margin: .5em;
    padding: .4em;
}

.genre {
    border-radius: 10px;
    padding: .3em;
    background-color: var(--orange-light);
    margin-right: 1em;
}

.break-text p {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis
}

.language-tag {
    display: flex;
}

.profile-button {
    width: auto;
}

.edit-profile {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em;
    
}

.edit-profile-formbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-rev {
    flex-direction: row-reverse;
}

.flex-center {
    align-items: center;
}

.flex-space {
    justify-content: space-between;
}

.list-div {
    margin-bottom: 2em;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#homepage-logo {
    text-align: right;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

#homepage-desc {
    font-size: 1.5em;
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
    align-self: center;
    justify-self: center;
}

#homepage-logo-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width:70%;
    padding: 3em;
    grid-template: 1fr 1fr 1fr / 1fr 2fr 1fr;
}

#homepage-logo-container a {
    grid-row: 1;
    grid-column: 3;
    order: 1;
    justify-self: center;
}

#homepage-logo-container .button {
    grid-row: 1 / span 2;
    grid-column: 3;
    padding: 1em;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;

}

#story-title {
    max-width: 80%;
}